.container {
  box-sizing: border-box;
  padding: 16px;
}

.station-filters-nav {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  width: 100%;
  border-bottom: solid #999 1px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.radioWrapper {
  height: 400px;
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}